.quotes {
	max-width: 60rem;
	width: 90%;
	margin: 2rem auto;
	animation: meals-appear 1s ease-out forwards;
}

.quotes ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.shuffleButton {
	border: 2px solid black;
	background-color: #fff;
	color: black;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	float: right;
}

.searchInputs {
	margin-top: 105px;
	display: flex;
}

.search input {
	background-color: white;
	border: 0;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 18px;
	padding: 15px;
	height: 30px;
	width: 20px;
}

.searchBox {
	margin-top: 5%;
	margin-left: 17%;
	width: 20%;
	border: 1px solid #2d2d2d;
	justify-content: center;
}

.searchIcon {
	height: 60px;
	width: 50px;
	background-color: white;
	display: grid;
	place-items: center;
}
